@model IEnumerable<SupplierModel>

@{
    ViewData["Title"] = "تامین کنندگان";
    ViewData["selected"] = "supplier_list";

    string ApiAddress = ViewBag.ApiAddress;
}

@section styles {
    <link href="~/assets/plugins/data-tables/datatables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/plugins/data-tables/responsive.datatables.min.css" rel="stylesheet">
    <link href="~/assets/css/ekka.css" id="ekka-css" rel="stylesheet">
    <link href="~/lib/persiandate/persian-datepicker.css" rel="stylesheet" />
}

<div class="breadcrumb-wrapper breadcrumb-contacts">
    <div>
        <h1>لیست تامین کنندگان</h1>
        <p class="breadcrumbs"><span><a href="index.html">خانه</a></span> <span><i class="mdi mdi-chevron-left"></i></span>تامین کننده</p>
    </div>
    <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSupplier"> اضافه کردن تامین کننده </button></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="ec-vendor-list card card-default">
            <div class="card-body">
                <div class="table-responsive-md">
                    <div id="responsive-data-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <table id="responsive-data-table" class="table dataTable no-footer" aria-describedby="responsive-data-table_info">
                            <thead>
                                <tr>
                                    <th>نام و نام خانوادگی</th>
                                    <th>شماره همراه</th>
                                    <th>آدرس</th>
                                    <th>فعالیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.SupplierFullName</td>
                                        <td>@item.SupplierPhone</td>
                                        <td>@item.SupplierAddress</td>
                                        <td>
                                            <div class="btn-group mb-1">
                                                <button type="button" class="btn btn-outline-success">اطلاعات</button> <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><span class="sr-only">اطلاعات</span></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#" onclick="showUpdateModal(@item.Id)">ویرایش</a>
                                                    <a class="dropdown-item" href="#" onclick="">حذف</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-add-contact" id="addSupplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="frmSupplier">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="exampleModalCenterTitle">تعریف نامین کننده جدید</h5>
                </div>
                <div class="modal-body px-4">
                    <div class="row mb-2">
                        <div class="col-lg-4">
                            <div class="form-group form-floating">
                                <input class="form-control text-end" id="SupplierFullName" name="SupplierFullName" placeholder="نام و نام خانوادگی">
                                <label for="SupplierFullName" style="right:0!important; left:unset!important;">نام و نام خانوادگی</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group form-floating">
                                <input class="form-control text-end" id="SupplierPhone" name="SupplierPhone" placeholder=" شماره تماس">
                                <label for="SupplierPhone" style="right:0!important; left:unset!important;">شماره تماس</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group form-floating">
                                <input class="form-control text-end" id="SupplierAddress" name="SupplierAddress" placeholder="آدرس">
                                <label for="SupplierAddress" style="right:0!important; left:unset!important;">آدرس</label>
                            </div>
                        </div>
                        <input hidden class="form-control text-end" id="CreateById" name="CreateById" value="@ViewBag.UserId">
                        <input hidden class="form-control text-end" id="TenantId" name="TenantId" value="@ViewBag.TenantId">
                        <div class="col-lg-12 alert" style="color:red">
                            <span class="text-danger" id="spnValidate"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer px-4">
                    <button type="button" class="btn btn-secondary btn-pill" data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button id="btnSupplierSubmit" type="button" class="btn btn-primary btn-pill">ذخیره </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade modal-add-contact" id="editSupplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="frmEditSupplier">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="exampleModalCenterTitle">ویرایش تامین کننده</h5>
                </div>
                <div class="modal-body px-4">
                    <div class="row mb-2">
                        <div class="col-lg-4">
                            <div class="form-group form-floating">
                                <input id="supplierId" name="supplierId" hidden>
                                <input class="form-control text-end" id="SupplierFullNameU" name="SupplierFullNameU" placeholder=" نام و نام خانوادگی">
                                <label for="SupplierFullNameU" style="right:0!important; left:unset!important;">نام و نام خانوادگی</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group form-floating">
                                <input class="form-control text-end" id="SupplierPhoneU" name="SupplierPhoneU" placeholder=" شماره تماس">
                                <label for="SupplierPhoneU" style="right:0!important; left:unset!important;">شماره تماس</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group form-floating">
                                <input class="form-control text-end" id="SupplierAddressU" name="SupplierAddressU" placeholder="آدرس">
                                <label for="SupplierAddressU" style="right:0!important; left:unset!important;">آدرس</label>
                            </div>
                        </div>
                        <input hidden class="form-control text-end" id="ModifiedByIdU" name="ModifiedByIdU" value="@ViewBag.UserId">
                        <input hidden class="form-control text-end" id="TenantIdU" name="TenantIdU" value="2">
                        <div class="col-lg-12 alert" style="color:red">
                            <span class="text-danger" id="spnValidate"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer px-4">
                    <button type="button" class="btn btn-secondary btn-pill" data-bs-dismiss="modal">
                        لغو
                    </button>
                    <button id="btnSupplierUpdate" type="button" class="btn btn-primary btn-pill">ذخیره </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section AdminScripts {
    <script src="~/lib/sweetalert/sweetalert2.js"></script>
    <script>
        $("#btnSupplierSubmit").on('click', function (e) {
            e.preventDefault();
            var formData = new FormData($("#frmSupplier")[0]);
            $.ajax({
                type: 'POST',
                url: '@ApiAddress' + 'Supplier/CreateSupplier',
                processData: false,
                contentType: false,
                dataType: "json",
                data: formData,
                success: function (xhr) {
                    if (xhr.statusCode == 200) {
                        // ثبت موفق اطلاعات
                        swal({
                            title: "ثبت اطلاعات",
                            text: "ثبت اطلاعات با موفقیت انجام شد!",
                            type: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $('#addSupplier').modal('hide');
                        window.location.reload();
                    }
                    if (xhr.statusCode == 500) {
                        swal({
                            title: "خطا",
                            text: "در سرور خطایی رخ داده است!",
                            type: 'error',
                            position: "center",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        return false;
                    } else if (xhr.statusCode == 400) {
                        swal({
                             title: "خطا",
                             text: "پارامترهای ارسالی معتبر نیست!",
                             type: 'error',
                             position: "center",
                             showConfirmButton: false,
                             timer: 1500
                        });
                        return false;
                    }
                    else if (xhr.statusCode == 409) {
                        swal({
                            title: "خطا",
                            text: "اطلاعات تکراری می‌باشد!",
                            type: 'error',
                            position: "center",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        return false;
                    }
                }
            });
        });

    </script>

    <script>
        function showUpdateModal(supplierId) {

            $.ajax({
                type: 'GET',
                url: '@ApiAddress' + 'Supplier/GetById?supplierId=' + supplierId,
                dataType: 'json',
                success: function (xhr) {
                    $("#supplierId").val(xhr.data.id);
                    $("#SupplierFullNameU").val(xhr.data.supplierFullName);
                    $("#SupplierAddressU").val(xhr.data.supplierAddress);
                    $("#SupplierPhoneU").val(xhr.data.supplierPhone);

                    $("#editSupplier").modal('show');
                }
            });
        }

        $("#btnSupplierUpdate").on('click', function (e) {
            e.preventDefault();

            var model = {
                SupplierId: $("#supplierId").val(),
                SupplierFullName: $("#SupplierFullNameU").val(),
                SupplierAddress: $("#SupplierAddressU").val(),
                SupplierPhone: $("#SupplierPhoneU").val(),
                ModifiedById: $("#ModifiedByIdU").val(),
            }

            $.ajax({
                type: 'PUT',
                url: '@ApiAddress' + 'Supplier/UpdateSupplier',
                dataType: 'Json',
                contentType: 'application/json',
                processData: false,
                data: JSON.stringify(model),
                success: function (xhr) {
                    if (xhr.statusCode == '200') {
                        swal({
                            title: "ویرایش اطلاعات",
                            text: "ویرایش اطلاعات با موفقیت انجام شد!",
                            type: 'success',
                            position: "center",
                            showConfirmButton: false,
                            timer: 1500
                        });
                         $('#editSupplier').modal('hide');
                        window.location.reload();
                    }
                    if (xhr.statusCode == '400') {
                        swal({
                             title: "خطا",
                             text: "پارامترهای ارسالی معتبر نیست!",
                             type: 'error',
                             position: "center",
                             showConfirmButton: false,
                             timer: 1500
                        });
                        return false;
                    } else if (xhr.statusCode == '409') {
                        swal({
                            title: "خطا",
                            text: "اطلاعات تکراری می‌باشد!",
                            type: 'error',
                            position: "center",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        return false;
                    }
                }
            });
        })
    </script>
}